header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  line-height: 20px;
}

header h1 {
  color: var(--color-green);
}

header h2 {
  color: var(--color-light-blue);
}

.logo {
  height: 20vmin;
  pointer-events: none;
}
