.Header {
  text-align: center;
  line-height: 20px;

  & h1 {
    color: var(--color-green);
  }

  & h2 {
    color: var(--color-light-blue);
  }

  .logo {
    height: 125px;
    pointer-events: none;
  }
}
